# DataScience Tool and Ecosystem

## introduction 
In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Python
2. Sql
3. R

## Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. NumPy
3. tensorFlow

## Data Science Tools

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

## Data sience Tools 

| Data ScienceTools  |
|--------------------|
| Jupyter Notebook   |
| Rstudio            |
| Apache Zeppelin    |

### Arithmetic Expression Examples

Below are a few examples of evaluating arithmetic expressions in Python.

### Arithmeic Expression Examples
Below are a few exaples of evaluating arithmetic expressions in python

In [23]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [29]:
# This is a simple arithmetic expresion to multiply then add integers
result = (3 * 4)+5
result

17

In [31]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [33]:
# THis will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes /60
hours

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Demonstrate basic arithmetic expressions in Python
- Convert time from minutes to hours
- Create tables and lists using Markdown

## Author
Talal Alshehri